<component name="ArtifactManager">
  <artifact type="war" name="SpringTest">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringTest</output-path>
    <root id="archive" name="SpringTest.war">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/web/META-INF/MANIFEST.MF" />
      </element>
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringTest" />
        </element>
        <element id="directory" name="lib" />
      </element>
      <element id="javaee-facet-resources" facet="SpringTest/web/SpringTest" />
    </root>
  </artifact>
</component>